.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  overflow-y: overlay;
}

.page {
  padding: 24px;
  padding-top: 100px;
  width: 100%;
}
.dashboard-page {
  background-color: #0d1117;
  color: #c9d1d9;
}

body {
  background-color: #fbfcfa;
  margin: 0;
}

.slick-list {
  margin: 0 -10px;
}
.slick-slide > div {
  padding: 0 10px;
}

/* ::-webkit-scrollbar {
  width: 0.4em;
  position: absolute;
}
:: -webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  backgroundcolor: rgba(0, 0, 0, 0.1);
  outline: 1px solid slategrey;
} */
